*{
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
a{
    color: rgb(140, 40, 143);
    text-decoration: none;
    font-size: 20px;
}
img{
    width: 100%;
}
.row{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.list-style{
    list-style: none;
}
.nav-item{
    font-size: 16px;
    font-style: italic;
    color: white;
}
.header{
    background-color: black;
    padding: 15px;
}
.col-6{
    width: 45%; 
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.banner-header{
    font-size: 80px;
    font-weight: bold;
    font-style: italic;
    color: rgb(93, 11, 93);
    text-align: center;
}
.banner-text{
    color: rgba(120, 19, 120, 0.477);
    font-size: 20px;
    font: 500;
    text-align: center;
}
.col-3{
    width: 20%;
    background-color: rgb(158, 23, 147);
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 50%;
    height: 360px;
}
.ai-images{
    width: 40%;
}
.ai-images p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
}
.button{
    background-color: rgba(238, 10, 112, 0.759);
    color: rgba(29, 0, 12, 0.859);
    height: 26px;
    width: 90px;
    border: none;
    border-radius: 13px;
    font-weight: bold;
    margin-left: 345px;
    margin-top: 5px;
    transition: background-color 0.55s,
    color 0.55s;
}

.button:hover {
background-color: rgb(103, 3, 14);
color: white;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.button:active {
opacity: 0.8;
}
.textarea-container{
    margin-top: 10px;
}
input{
    width: 160px;
    height: 24px;
}
textarea{
    width: 100%;
}
footer{
    background-color: black;
    padding-top: 40px;
    padding-bottom: 10px;
}
.copyright{
    color: red;
}
.footer-copyright{
    margin-top: 30px;
}
#contact{
    margin-top: 100px;
    margin-bottom: 100px;
}
#about-us{
    margin-top: 100px;
}